/* ISTRUZIONI GENERALI */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.btn {
    border-radius: 40px;
    padding: 8px 14px;
    font-size: 14px;
}

.btn-big {
    padding: 16px 28px;
    font-size: 20px;
}

.master{
    padding: 120px 40px;
    display: inline-block;
}
/* FINE ISTRUZIONI GENERALI */

/* ISTRUZIONI HEADER */
.header-row::after {
    content: "";
    display: table;
    clear: both;
}
 
header {
    background-color: #255ee9;
    height: 100px;
    line-height: 100px;
}

header .container .header-row{
    height: 100%;
}

.logo {
    float: left;
    width: 15%;
}

.logo img {
    vertical-align: middle;
}

header nav {
    color: white;
    float: left;
    width: 70%;
}

header nav ul{
    text-align: center;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 16px;
}

#login {
    float: right;
    width: 15%;
    text-align: right;
}

#white {
    color: black;
    text-decoration: none;
    background-color: white;
}

/* FINE ISTRUZIONI HEADER */

/* ISTRUZIONI JUMBOTRON */
#black {
    color: white;
    text-decoration: none;
    background-color: black;
}

.fas.fa-long-arrow-alt-down{
    margin-right: 10px;
}

#jumbotron {
    background-image: url(./img/jumbo.png);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    color: white;
}

#jumbotron .container {
    max-width: 800px;
    text-align: center;
}

#jumbotron .container h1 {
    padding-top: 100px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 56px;
}

#jumbotron .container p {
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 20px;
}

#jumbotron .container .btn {
    display: inline-block;
    margin-right: 24px;
}
/* FINE ISTRUZIONI JUMBOTRON */

/* INIZIO ISTRUZIONI MAIN */
.text-container {
    width: 25%;
}

.right {
    float: right;
    margin-right: 240px;
}

#second-text {
    width: 40%;
    float: left;
    padding: 80px 100px;
}

#second-img {
    float: right;
    margin-right: 175px;
}

#fourth-img {
    width: 100%;
}

#fourth-text {
    width: 70%;
    text-align: center;
    margin: auto;
}

.master::after{
    content: "";
    display: table;
    clear: both;
}

.text-container h1 {
    font-size: 48px;
    font-weight: bolder;
}

.text-container p {
    font-size: 20px;
    margin-top: 24px;
    line-height: 30px;
}

.adventure-row {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 120px;
}

.adventure-row img {
    margin-bottom: 0;
    position: absolute;
    height: 45%;
    width: 100%;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: -7%;
}
.adventure-row h2 {
    font-weight: 600;
    font-size: 32px;
    margin-top: 0px;
}

.adventure-row a {
    margin-top: 40px;
    display: inline-block;
}

#purple {
    color: white;
    text-decoration: none;
    background-color: #8ea1e1;
}
/* FINE ISTRUZIONI MAIN */

/* ISTRUZIONI FOOTER */
footer{
    background-color: #23272a;
    color: #fff;
}
.resume {
    padding: 80px 0px;
}

.resume .title{
    color: #7089d5;
}
 
.resume:after{
    content: "";
    display: table;
    clear: both;
}

.social i{
    color: #fff;
    margin: 15px 10px;
}

.contacts{
    width: 20%;
    float: left;
}

.contacts h2 {
    font-weight: 600;
    font-size: 32px;
}

.contacts .lang{
    margin-top: 20px;
    font-size: 18px;
    display: inline-block;
}

.contacts .lang img {
    width: 24px;
    height: 16px;
}

.product{
    width: 18%;
    float: left;
}

.company{
    width: 18%;
    float: left;
}

.resources{
    width: 18%;
    float: left;
}

.standards{
    width: 18%;
    float: left;
}

footer .container ul{
    list-style: none;
}

footer .container ul a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.down_footer {
    position: relative;
    border-top: 1px solid #414c68;
    padding: 40px 0px;
}

.down_footer::after {
    content: "";
    display: table;
    clear: both;
}

#sign-up {
    float: right;
}
/* FINE ISTRUZIONI FOOTER */